* {
	margin: 0 auto;
	box-sizing: border-box;
}

.wrap {
	display: flex;
	flex-direction: column;
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;

	font-family: 'Open Sans', sans-serif;
}

header,
section {
	max-width: 1200px;
    width: 90%;
}

/*_____HERO_____*/
.hero {
	width: 100%;
	height: 779px;

	background: url(../images/hero-background.jpg);
    background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;  
	background-size: cover;
	background-color: #464646;
}

/*-----header-----*/
.header {
	display: flex;
	justify-content: space-between;
	padding-top: 19px;
}

.header-logotype {
	display: flex;
	margin: 0;
}

.header-logotype__icon {
	width: 70px;
	height: 60px;
	margin-right: 15px;
}

.header-logotype__text {
	font-weight: 400;
	font-size: 32px;
	line-height: 60px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	color: #F7F7F7;
}

.header-nav {
	margin: 0;
	width: 480px;
}

.header-nav__list {
	display: flex;
	justify-content: space-between;
	padding: 0;
}

.header-nav__item {
	display: flex;
	align-items: center;

	list-style-type: none;
}

.header-nav__item:not(:last-child):hover {
	transform: scale(1.1);
}

.header-nav__item:first-child {
	margin-left: 0;
	width: 50px;
}

.header-nav__item:last-child {
	width: 120px;
	height: 50px;
	margin-top: 5px;
	margin-right: 0;

	font-size: 23px;
	line-height: 27px;
	font-family: 'Roboto', sans-serif;
	color: #F7F7F7;

	border: 2px solid #CD6326;
	border-radius: 5px;
}

.header-nav__item:last-child:hover {
	background: #CD6326;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-nav__item:last-child:active {
	background: #8F5613;
	border: 2px solid #8F5613;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-nav__link{
	font-size: 23px;
	line-height: 60px;
	color: #F7F7F7;
}

.header-nav__link--search {
	content: url(../images/search.svg);
}

.header-nav__link--btn {
	padding-top: 5px;
}

/*-----survival-----*/
.survival {
	height: 700px;
	padding-top: 120px;
}

.survival__title {
	margin: 0;
	
	font-weight: 400;
	font-size: 48px;
	line-height: 72px;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 2px;
	color: #CD6326;
}

.survival__text {
	width: 274px;
	height: 108px;
	margin: 51px 0 49px 0;

	font-size: 18px;
	line-height: 27.5px;
	color: #F7F7F7;
}

.survival__btn {
	width: 160px;
	height: 60px;

	font-weight: 400;
	font-size: 23px;
	line-height: 27px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #F7F7F7;

	background: #CD6326;
	border: none;
	border-radius: 5px;
	outline: none;
}

.survival__btn:hover {
	background: #E39128;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.survival__btn:active {
	background: #8F5613;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*_____MAIN_____*/
.main {
	height: 1368px;
	width: 100%;

	background-color: #cccccc;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*-----latest-articles-----*/
.latest-articles__title {
	margin: 120px 0 20px;

	font-weight: 400;
	font-size: 48px;
	line-height: 72px;
	text-align: center;
	color: #333333;
}

.latest-articles__text {
	margin-bottom: 120px;

	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	color: #666666;
}

.latest-articles__sliders {
	position: relative;

	display: flex;
	justify-content: space-between;
	height: 360px;
	margin-bottom: 239px;
	padding: 0 90px;
}

.latest-articles__left-btn {
	position: absolute;
	bottom: 40%;
	left: 0;

	width: 30px;
	height: 70px;

	background:url(../images/arrow-left.png);
	background-position: center center;
}

.latest-articles__right-btn {
	position: absolute;
	bottom: 40%;
	right: 0;

	width: 30px;
	height: 70px;

	background:url(../images/arrow-right.png);
	background-position: center center;
}

.latest-articles__left-btn:hover,
.latest-articles__right-btn:hover {
	opacity: 0.8;
}

.latest-articles__slide {
	position: relative;

	max-width: 300px;
	margin: 0;

	transition: .4s;
    overflow: hidden;
}

.latest-articles__slide:hover {
	transform: scale(1.1);
}

.latest-articles__slide-title {
	position: absolute;

	font-weight: 400;
	font-size: 22px;
	line-height: 36px;
	text-align: center;
	color: #F7F7F7;
}

.latest-articles__slide-title--deer {
	bottom: 21%;
	left: 41.5%;
}

.latest-articles__slide-title--squirrel {
	bottom: 21%;
	left: 36.5%;
}

.latest-articles__slide-title--bird {
	bottom: 21%;
	left: 43%;
}

.latest-articles__slide-subtitle {
	position: absolute;

	font-weight: 400;
	font-size: 17px;
	line-height: 27px;
	text-align: center;
	color: #F7F7F7;
}

.latest-articles__slide-subtitle--deer {
	bottom: 11%;
	left: 19.5%;
}

.latest-articles__slide-subtitle--squirrel {
	bottom: 11%;
	left: 25%;
}

.latest-articles__slide-subtitle--bird {
	bottom: 11%;
	left: 30%;
}

/*-----get-notified-----*/
.get-notified__title {
	margin-bottom: 61px;

	font-weight: 400;
	font-size: 27px;
	line-height: 40px;
	text-align: center;
	color: #333333;
}

.get-notified__form {
    display: flex;
	max-width: 660px;
	height: 60px;
}

.get-notified__email {
	width: 540px;
	height: 100%;
	padding: 21px 0 15px 15px;

	background: #cccccc;

	border: 1px solid #666666;

	outline: none;
}

.get-notified__email::placeholder {
	font-weight: 400;
	font-size: 23px;
	line-height: 27px;
	font-family: 'Roboto', sans-serif;
	color: #666666;
}

.get-notified__email:focus::-webkit-input-placeholder {
	color: transparent;
}

.get-notified__btn {
	width: 120px;
	height: 60px;
	
	background: #CD6326;
	border: 1px solid #CD6326;
	border-radius: 0px 5px 5px 0px;

	font-weight: 400;
	font-size: 23px;
	line-height: 27px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #F7F7F7;

	outline: none;
}

.get-notified__btn:hover {
	background: #E39128;
}

.get-notified__btn:active {
	background: #8F5613;
	border: 1px solid #8F5613;
}

/*_____FOOTER_____*/
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 360px;
	padding: 150px 120px 149px 120px;

	background: url(../images/footer-background.jpg);
}

.footer-logotype {
	display: flex;
	margin: 0;
}

.footer-logotype__icon {
	width: 70px;
	height: 60px;
	margin-right: 15px;
}

.footer-logotype__text {
	font-weight: 400;
	font-size: 32px;
	line-height: 60px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	color: #F7F7F7;
}

.footer-nav {
	width: 480px;
	margin: 0;
	margin-left: 12px;
}

.footer-nav__list {
	display: flex;
	justify-content: space-between;
	padding: 0;
}

.footer-nav__item {
	display: flex;
	align-items: center;
	padding: 0;

	list-style-type: none;
}

.footer-nav__item:first-child {
	margin-left: 2px;
}

.footer-nav__item:last-child {
	margin-right: 0;
}

.footer-nav__link {
	font-weight: 400;
	font-size: 23px;
	line-height: 60px;
	color: #F7F7F7;
}

.footer-nav__link:hover{
	line-height: 40px;

	border-bottom: .5px solid #F7F7F7;
}

.footer-network__nav {
	width: 240px;
	height: 40px;
	margin: 0;
}

.footer-network__list {
	display: flex;
	justify-content: space-between;
	padding: 0;
}

.footer-network__item {
	list-style-type: none;
}

.footer-network__item:first-child {
	margin-left: 0;
}

.footer-network__item:last-child {
	margin-right: 0;
}

.footer-network__link {
	width: 40px;
	height: 40px;
}

.footer-network__link:hover {
	transform: scale(1.2);
}

.footer-network__link--facebook {
	content: url(../images/faceboook.svg);
}

.footer-network__link--instagram {
	content: url(../images/instagram.svg);
}

.footer-network__link--pinterest {
	content: url(../images/pinterest.svg);
}

.footer-network__link--youtube {
	width: 40px;

	content: url(../images/youtube.svg);
}