@media (max-width: 1025px) {
    .latest-articles__slide {
        width: 230px;
    }

	.footer-nav {
		width: 400px;
	}

	.footer-network__nav {
		width: 220px;
		margin-left: 40px;
	}
}

@media (max-width: 769px) {
	.header-nav {
		display: none;
	}

    .header__gamburger-menu {
		display: block;
	}

	.latest-articles__sliders {
        justify-content: center;
		width: 100%;
        padding: 0;
	}

    .latest-articles__slide {
        width: 80%;
    }

    .latest-articles__slide:nth-child(2),
    .latest-articles__slide:nth-child(3) {
        display: none;
    }

	.get-notified__email {
		max-width: 80%;
	}

	.footer {
		flex-direction: column;
		justify-content: space-between;
		padding: 50px;
	}

	.footer-nav__list {
		width: 340px;
		font-size: 16px;
	}

	.footer-network__nav {
		width: 220px;
		margin-left: 40px;
	}
}

@media (max-width: 321px) {
	.header-logotype__text {
		font-size: 28px;
	}

    .header__gamburger-menu {
		margin-right: 1em;
	}

	.footer-nav__list {
		flex-direction: column;
		justify-content: center;
	}
    
	.footer-nav__item {
		margin: 0;
	}
}